<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
    <h1>Welcome to the task-tracker APP</h1>
</head>

<style>
    body {
        background-color: lightpink;
    }
    h1 {
        text-align: center;
        color: indianred;
        text-end-overflow: ellipsis;
    }
    form {
        margin: auto;
        text-align: center;
        container: center;
        padding-top: 50px;
        border: 3px solid black;
    }
    button {
        color: red;
        margin: 15px 32px;
    }
</style>

<body>
<form method="POST" action="http://localhost:3000/user/login">
    <label>Username: </label>
    <input type="text" name="name" id="name" placeholder="Enter Username" required>
    <br>
    <label>Email: </label>
    <input type="email" name="email" id="email" placeholder="Enter Email" required>
    <br>
    <label>Password: </label>
    <input type="password" name="password" id="password" placeholder="Enter Password" required>
    <br>
    <button type="submit">Submit</button>
</form>

<script>
    const uname = document.getElementById('name');
    const password = document.getElementById('password');
    const email = document.getElementById('email');

    document.querySelector("form").addEventListener("submit", async function(event) {
        event.preventDefault();

        const unameValue = uname.value;
        const passwordValue = password.value;
        const emailValue = email.value;

        if (!unameValue.includes("@") || !/[0-9]$/.test(unameValue)) {
            alert("Username should contain @ and end with a numeric value.");
        } else if (passwordValue.length < 6) {
            alert("Password should contain at least 6 characters.");
        } else if (!emailValue.endsWith("@ucp.edu.pk")) {
            alert("Email should be valid and end with @ucp.edu.pk.");
        } else {
            try {
                const response = await fetch('/register', {
                    method: 'POST',
                    body: JSON.stringify({
                        name: unameValue,
                        email: emailValue,
                        password: passwordValue,
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    console.log("Success in fetching");
                } else {
                    console.error("Failed to fetch");
                }
            } catch (err) {
                console.error("Caught error in fetching: " + err);
            }
        }
    });
</script>
</body>
</html>
